<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Players</title>
    </head>
    <body>
        <h1>Players</h1>
        <ul>
            <% for (let player of players) { %>
                <li><a href="/players/<%= player.id %>"><%= player.name %></a></li>
            <% } %>
        </ul>
    </body>
</html>